mixin createTitle(title, subTitle, isMain = false)
	if(!isMain)
		.title
			p #{subTitle}
			h2 #{title}
	else
		.title.tl-right
			p #{subTitle}
			h1 #{title}

mixin line
	.line

mixin card(title, content, img)
	.card
		.card__front
			img(src=img, alt=title)
			span #{title}
		.card__back
			span #{content}