mixin createTitle(title, subTitle, isMain = false)
	if(!isMain)
		.title.wow.fadeInLeft(data-wow-duration="1s")
			p #{subTitle}
			h2 #{title}
	else
		.title.tl-right
			p #{subTitle}
			h1 #{title}

mixin line
	.line.wow.fadeInLeft(data-wow-duration="2s")

mixin card(title, content, img)
	.card.wow.fadeInRight(data-wow-duration="1s")
		.card__front
			img(src=img, alt=title)
			span #{title}
		.card__back
			span #{content}